body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background-color: #FF3366;
}
header h1 {
    display: inline-block;
    font-size: 1.8em;
    color: #FFF;
}
header nav {

    float: right;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: #DDD;
}
header nav ul li a:hover {
    color: #FFF;
}
header nav ul > li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px dotted #888888;
}
header nav ul > li:last-child {
    padding-right: 0;
    border: 0;
}

section.wrapper {
    padding: 20px;
}
section.wrapper ul.breadcrumb {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style: none;
}
section.wrapper .breadcrumb a {
    text-decoration: none;
}
section.wrapper .breadcrumb > li {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    color: #888888;
}
section.wrapper .breadcrumb > li:first-child {
    margin: 0;
}
section.wrapper .breadcrumb > li:first-child:before {
    content: "";
    margin: 0;
}
section.wrapper .breadcrumb > li:before {
    content: "/";
    display: inline-block;
    margin-right: 2px;
}

footer {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border-top: 1px dotted #CCC;
    font-size: 13px;
    color: #888888;
}

