{% extends 'base_layout.html' %}

{% block nav_title %}About Page{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>
        About
    </li>
{% endblock %}

{% block content %}
<h1></h1>

<div>
    <p>
        WE ARE TEAM.TASYON!!!
    </p>
    <p>
        This site is made to help people control their temptation problems. Temptation problems may point to food, drinks and the "other stuffs".
    </p>
    <p>
        Checkout the site now and seek advice from our Team.tasyon Members.
    </p>
</div>
{% endblock %}
