<!doctype html>
<html>
<head>
<title>{% block title %}Home{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
<header>
    <h1>TEAM.Tasyon </h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/members">Members</a></li>
        </ul>
    </nav>
</header>
<section class="wrapper">
    <ul class="breadcrumb">
        {#
         # This is the breadcrumb/navigation links
         #}
        {% block breadcrumb %}
        <li>
            <a href="/">Home</a>
        </li>
        {% endblock %}
    </ul>

    {#
     # body content block
     #}
    {% block content %}
    <h1>+++ Welcome +++</h1>

    <p> 
        Life is short. Have an affair. <span style="color:red"> Team.Tasyon </span>-joke lang :P
    </p>

    <p>
        This is a <span style="color:red">+18</span> website. If you are still below 18 years old, please exit this site now. Thank you very much.
    </p>
    {% endblock %}
</section>
<footer>
    <div class="centered">
        &copy; 2015. Wele keyong peki-alam kasi nenenood leng keyu.All rights reserved.
    </div>
</footer>
</body>

</html>
