{% extends 'base_layout.html' %}

{% block nav_title %}Members{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        Members
    </li>
{% endblock %}

{% block content %}
<h1> +++ The <span style="color:red"> Members </span> +++ </h1>

<div style="text-align:center">

    <br><br><br><br>

    <p>
    	<ul>

        {% for members in data %}

        + {{ members.firstname }} {{ members.lastname }} +
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        {% endfor %}

    	</ul>
    </p>

</div>
{% endblock %}